@use '@/styles/variables' as *;

.ImportContent {
   .import-input {
      margin: 1rem 0;
   }

   .code-example-accordeon {
      summary {
         cursor: pointer;
         font-weight: bold;
         -webkit-user-select: none;
         user-select: none;
         font-size: 1.1rem;
      }
   }

   .code-example {
      white-space: pre-wrap;
   }
}
