@use '@/styles/variables.scss' as *;

.Button {
   border: none;
   background: none;
   color: $text;
   text-transform: uppercase;
   cursor: pointer;
   transition: all 50ms;

   &:active {
      transform: scale(0.995);
   }

   &:disabled {
      cursor: not-allowed;
      background-color: $disabled;
   }

   &.fullwidth {
      width: 100%;
   }

   &.outlined {
      border: 1px solid $text;
   }

   &.transparent {
      background-color: transparent;
   }

   &.primary.filled {
      background-color: $primary;
      color: $text;
      
      &:hover {
         background-color: $primary-light;
      }
   }

   &.secondary.filled {
      background-color: $secondary;
      color: $text;
      
      &:hover {
         background-color: $secondary-light;
      }
   }

   &.tertiary.filled {
      background-color: $tertiary;
      color: $text-contrast;
      
      &:hover {
         background-color: $tertiary-light;
      }
   }

   &.error.filled {
      background-color: $error;
      color: $error-dark;
      
      &:hover {
         background-color: $error-light;
      }
   }
}
