@use '@/styles/variables' as *;

.Input {
   width: 100%;
   margin-bottom: 1rem;
   position: relative;
   border-radius: $radius-s $radius-s 0 0;
   overflow: hidden;

   .input-label {
      position: absolute;
      top: 0.65rem;
      left: 1rem;
      font-size: 0.75rem;
      color: $text-soft;
   }

   .native-input,
   .native-textarea {
      outline: none;
      border-width: 0 0 2px 0;
      font-family: var(--font-roboto);
      width: 100%;
      border-color: $disabled;
      background-color: $background-light;
      color: $text;
      padding: 2rem 1rem 0.5rem 1rem;
   
      &:focus {
         border-color: $tertiary;
      }

      &[type="number"]::-webkit-inner-spin-button,
      &[type="number"]::-webkit-outer-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }

      /* Firefox */
      &[type="number"] {
         -moz-appearance: textfield;
         appearance: textfield;
      }
   }
}
