@use './variables.scss' as *;

* {
  -webkit-scrollbar-color: $tertiary $background;
  scrollbar-color: $tertiary $background;
  /* Firefox */
  @supports (scrollbar-width: thin) {
    scrollbar-width: thin;
    // scrollbar-color: $tertiary $background;
  }ckground;

}

::-webkit-scrollbar {
  width: 10px;
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $tertiary;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($tertiary, 10%);
}

::-webkit-scrollbar-track {
  background: $background;
  border-radius: 8px;
}
